/**
 * Stylesheet
 */

@import 'reset'
@import 'settings'
@import 'functions'
@import 'flex'
@import 'grid'

*, *:before, *:after
    box-sizing: border-box

html
	height: 100%
	font-size: 100%

body
	margin: 0
	height: 100%
	background-color: white
	font-family: $font-primary
	font-size: 1rem
	line-height: 1
	color: $color-text
	background-color: $color-bg


p, h1, h2, h3, ul, ol
	margin-top: 0
	margin-bottom: rem(24px)

h3
	font-size: rem(24px)
	font-weight: 500

p
	font-size: rem(18px)
	line-height: rem(24px)

a
	color: $color-anchor
	.no-touchevents &:hover
		color: $color-anchor-hover

img
	max-width: 100%
	height: auto
	vertical-align: bottom

strong
	font-weight: 500

ol
	font-size: rem(18px)
	line-height: rem(24px)
	li
		margin-bottom: rem(24px)
		margin-left: 2rem
		text-indent: -1rem
		counter-increment: item
		&:before
			content: counter(item) '.'
			display: inline-block
			padding-right: 0.5rem
			width: 1rem
			font-weight: 400
			text-align: right

hr
	margin-top: rem(24px)
	margin-bottom: rem(24px)
	border: 0
	border-top: solid 1px rgba(black, 0.1)

.wrap
	margin: 0 auto
	padding-left: $wrap-padding
	padding-right: $wrap-padding
	max-width: rem($wrap-large)
	width: 100%

.wrap-medium
	@extend .wrap
	max-width: rem($wrap-medium)

.video
	position: absolute
	top: 0
	width: 100%
	height: 100%

.video-wrap
	position: relative
	margin-bottom: rem(32px)
	&:before
		content: ''
		display: block
		padding-top: 75%

.text-center
	text-align: center

.text-info
	color: rgba($color-charcoal, 0.5)

.fill-width
	width: 100%

// ----------------------------------------------------------------------------
// Header
// ----------------------------------------------------------------------------

.header
	padding-top: rem(56px)
	height: rem(640px)
	background-color: #ebebeb
	background-image: url(../img/hero.png)
	background-position: center bottom
	background-size: auto 100%
	background-repeat: no-repeat

.header__title
	font-size: rem(31px)
	font-weight: 500
	text-align: center

// ----------------------------------------------------------------------------
// Section
// ----------------------------------------------------------------------------

.section
	padding-top: rem(64px)
	padding-bottom: rem(64px)

.section--alt
	background-color: $color-silver

.section--dark
	background-color: $color-tuna
	color: white

.section__title
	font-size: rem(16px)
	font-weight: 500
	text-transform: uppercase
	color: inherit
	opacity: 0.5

// ----------------------------------------------------------------------------
// Value Section
// ----------------------------------------------------------------------------

.s-value__title
	font-size: rem(24px)
	font-weight: 500
	text-align: center

.s-value__body
	margin: 0 auto
	max-width: rem(520px)
	margin-bottom: rem(48px)

.s-value__img
	display: block
	margin: 0 auto rem(24px) auto
	width: rem(220px)
	height: rem(200px)
	background-color: #E98168
	border-radius: rem(3px)

// ----------------------------------------------------------------------------
// Audit Section
// ----------------------------------------------------------------------------

.s-audit__img
	margin-bottom: rem(48px)
	height: rem(426px)
	background-image: url(../img/audit.jpg)
	background-position: center center
	background-size: auto 100%
	background-repeat: no-repeat

// ----------------------------------------------------------------------------
// Persona Section
// ----------------------------------------------------------------------------

.s-persona__profile
	display: flex
	flex-direction: column
	align-items: flex-start
	margin-top: rem(32px)
	+bp-gt($bp-md)
		flex-direction: row
		margin-bottom: rem(24px)

.s-persona__photo
	display: block
	margin: 0 auto rem(32px) auto
	border-radius: 50%
	max-width: rem(180px)
	width: 100%
	height: auto
	+bp-gt($bp-md)
		margin-right: rem(24px)
		margin-bottom: 0
		max-width: rem(120px)

.s-persona__tasks
	margin-top: rem(48px)

// ----------------------------------------------------------------------------
// Research Section
// ----------------------------------------------------------------------------

.s-research__hero
	display: block
	margin-bottom: rem(32px)

.s-research__img
	display: inline-block
	margin-bottom: rem(12px)
	border-radius: rem(3px)
	width: 100%

.s-research__text
	font-size: rem(14px)

// ----------------------------------------------------------------------------
// Process Section
// ----------------------------------------------------------------------------

.s-process__hero
	display: block
	border-radius: rem(3px)
	margin-bottom: rem(32px)

.s-process__aside
	font-size: rem(14px)
	color: rgba(white, 0.5)

.s-process__em
	text-transform: uppercase
	color: white

.s-process__img
	display: block
	margin-bottom: rem(12px)
	width: 100%
	border-radius: rem(3px)

// ----------------------------------------------------------------------------
// Footer Section
// ----------------------------------------------------------------------------

.s-finale
	padding-bottom: 0

.s-finale__title
	margin-bottom: rem(12px)
	font-size: rem(28px)
	font-weight: 400
	text-align: center

.s-finale__tagline
	@extend .text-info
	margin-bottom: rem(48px)
	font-weight: 300
	font-size: rem(24px)
	text-align: center

.s-finale__img
	background-image: url(../img/finale.png)
	background-position: center center
	background-size: auto 100%
	background-repeat: no-repeat
	height: rem(720px)

// ----------------------------------------------------------------------------
// Footer
// ----------------------------------------------------------------------------

.footer
	padding-top: rem(48px)
	padding-bottom: rem(64px)

.footer__text
	font-size: rem(14px)
	text-align: center
